.ssHomeForm{
    
}

.ssHomeMainFormParent{
    width: 900px;
    margin: auto;
}

.ssHomeButtonParent{
    display: flex;
    gap: 18px;
    justify-content: center;
}


.ssHomeMainFormParent{
    background-color: rgba(208, 208, 208, 0.15);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    margin-top: 30px;
    color: white;
    font-family: 'Calibri', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper input {
    color: white!important;
  }
::ng-deep .cdk-overlay-container { z-index: 9999;}

.ssHomeButtonParent button{
    width: 100px;
    font-weight: 500;
    height: 40px;
    /* font-size: 1.2rem; */
}

.ssHomeFormHeading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4rem;
}

.ssFormHrLine{
    border-color: white;
    border: 1.1px solid white;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}

label{
    color: rgb(88, 158, 237);
}

.ssRequiredMark{
    color: red;
}

.ssFromFull{
    /* font-size: 1.3rem; */
}

::ng-deep .mdc-form-field > label{
    color: rgb(88, 158, 237)!important;
    /* font-size: 1.3rem!important; */
    margin-bottom: 0px!important;
}

  ::ng-deep .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background, .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background, .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate="true"]:enabled ~ .mdc-checkbox__background {
    background-color: rgb(88, 158, 237)!important;
    border-color:rgb(88, 158, 237)!important;
  }

  ::ng-deep .mdc-text-field {
    background-color: white;
    border-radius: 4px;
    /* font-size: 1.2rem; */
}

::ng-deep .mdc-text-field--disabled {
    background-color: rgb(212, 211, 211);
    border-radius: 4px;
}


::ng-deep .mat-form-field {
    font-size: 12px;
}

::ng-deep .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate="true"]) ~ .mdc-checkbox__background{
    border-color: white!important;
}

::ng-deep .mat-mdc-text-field-wrapper {
    height: 28px !important;
}
::ng-deep .mat-mdc-form-field-flex {
    margin-top: -14px !important;
}

::ng-deep .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate="true"]) ~ .mdc-checkbox__background{
    background-color: white !important;
}

::ng-deep .mat-form-field-wrapper {
    margin-bottom: -1.45em;
}

::ng-deep .mat-mdc-text-field-wrapper{
    border-radius: 5px!important;
}

@media screen and (max-width: 1050px) and (min-width: 452px) {
    .ssTopNavBtn{
        width: 100px;
        height: 38px
    }
}

@media screen and (max-width: 450px) {
    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
      height: 0.5em;
    }

    .ssFormLocation label{
        margin-bottom: 0.1rem;
        font-size: 12px;
    }

    ::ng-deep .mat-mdc-text-field-wrapper {
        height: 28px !important;
    }

    .ssHomeMainFormParent input{
        font-size: 12px;
    }

    ::ng-deep .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control{
        font-size: 12px;
    }

    .ssHomeFormHeading{
        font-size: 1.6rem!important;
        margin-top: 1rem;
    }

    .ssHomeMainFormParent {
        font-size: 12px ;
    }

    .ssHomeButtonParent {
        margin-top: 0.5rem !important;
        margin-bottom: 1.2rem !important;
    }

    .ssHomeButtonParent .btn{
        font-size: 12px!important;
    }

    ::ng-deep .mat-mdc-option{
        min-height: 24px !important;
        font-size: 12px !important;
    }

    .ssResultTable {
        font-size: 12px;
    }

    ::ng-deep .mdc-text-field--outlined {
        border-radius: 4px!important;
    }

    ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
        padding-top: 14px;
        padding-bottom: 8px;
    }

    ::ng-deep .mat-mdc-select-value-text{
        font-size: 12px;
    }

    ::ng-deep .ssMatCheck label{
        font-size: 12px;
    }

    .ssFormBtn{
        width: 70px;
        padding-top: 0.2em !important ;
        padding-bottom: 0.2em !important;
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
    }

    .ssTopNavBtn{
        font-size: 12px;
        width: 65px;
    }

    .ssHomeButtonParent button{
        font-size: 80px;
        width: 90px;
        height: 34px;
    }

    .ssTopNav{
        gap: 0;
        margin-bottom: 1em;
    }

    .ssTopNavBtn{
        width: 95px;
    }
  }


 