.ssTopNav{
    gap: 4px;
    margin-right: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
}

body {
    /* background-color: black; */
    
  }
  
  .ssbodyBig {
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
  }

.ssTopNavBtn{
  color: white;
  width: 100px;
}

.isactive{
  border: 1px solid white;
  border-radius: 8px;
}

@media screen and (max-width: 450px) {
  .ssTopNavBtn{
    width: 90px;
  }

  .ssTopNavBtn{
    font-size: 12px;
    width: 70px;
}



.ssTopNav{
    gap: 0;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-top: 0.4em;
}
}